.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100wh;
}
.left h1{
    align-items: center;
    background-color: #1890F0;
    display: flex;
    color: white;
    height: 100vh;
    justify-content: center;
    font-weight: 500
}
.left h1 span{
    color: black;
}
.right{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}
.workspace{
    display: grid;
    grid-template-rows: 1.5fr 1.75fr 3.5fr 1.75fr 1.5fr;
}
.strip-top{
    margin: 0%;
    padding: 0 20%;
}
.strip-bottom{
    margin: 0%;
    padding: 0 20%;
}
.panel{
    border: 10px solid #4E4F53;
    border-radius: 15%;
    background-color: black;
    padding: -15px;
}
.row{
    display: block;
    height: 100%;
}
#notificationBar{
    visibility: hidden;
    height: 10%;
    font-size: .9em;
    color: #1890F0;
    padding: 0;
    padding-top: 5px;
    padding-left: 10px;
}
.container-fluid .row .col-right{
    visibility: hidden;;
    height: 10%;
    font-size: .9em;
    color: #1890F0;
    padding: 0;
    padding-top: 5px;
    text-align: end;
    padding-right: 10px;
}
.my-strip-container-top{
    display: flex;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%; 
    width: 100%;
    height: 75%;
    background-color: black;
    
    align-items: flex-end
}
.my-strip-container-bottom{
    width: 100%;
    height: 75%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    background-color: black;
}
#container{
    width: 100%;
    height: 100%;
    padding: 0;
    margin-top: -24.389px;
}
.my-container-fluid{
    height: 100%;
    align-items: center;
}
.myMessageFlex{
    display: flex;
    border : 2px solid red;
    margin: 10%;
    width: auto;
    height: auto;
}
.myMessageInfo{
    height: 50px;
    align-items: center;
    align-content: stretch;
    padding-left: 10%;
    padding-right: 10%;
    background-origin: padding-box;
    background-color: #1890F0;
    text-align: center;
    text-justify: auto;
    flex-wrap: wrap;
    border-radius: 10px;
    margin-bottom: 5%;
}
.empty{
    display: flex;
    align-items: center;
}
#blink {
    animation: blinker 0.9s linear infinite;
    color: #1c87c9;
   }
   @keyframes blinker {  
     50% { opacity: 0; }
    }
#initialDisplay{
    background-color: white;
    width: 100%;
    padding: 0;
    justify-content: left;
    text-align: center;
    font-size: 2em;
    justify-items: center;
    background-color: aliceblue;
    margin: 0;
}
#salutation{
    font-size: .5em;
}

#goHome{
    display: none;
    height: 10%;
    width:100%;
    color: #1890F0;
    margin-top: -30px;
    padding-left: 12.5%;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-content: center;
    align-items: center;
    align-self: center;
}
#iconPage{
    display: none;
    color: darkcyan;
    size: 5em;
    width: 100%;
    height: 150%;
    padding: 0;
    margin: 0%;
 
}
#messageScreen{
    display: none;
    width: 80%;
    height: 80%;
    color: aliceblue;
    
}
#icon{
    padding: 50% 0% 50% 0%;
    height: 206px;
    align-items: center;
    font-size: 2em;
}
#goHome{
    font-size: 1.5em;
}

#spotify{
    display: none;
    scroll-behavior: auto;
    height: 80%;
    border-radius: 10%;
}
#mes1{
    display: none;
    width: 80%;
    text-justify: center;
    padding: 2%;
    border-radius: 5%;
    border:.5px solid aliceblue;
    height: auto;
    background-color: #1890F0;
}
#mes2{
    display: none;
    width: 80%;
    padding: 2%;
    border-radius:5%; 
    justify-content: center;
    border:.5px solid 5%;
    border-color: aliceblue;
    height: auto;
    background-color: #1890F0;
}
#mes3{
    display: none;
    width: 80%;
    border-radius:5%;
    padding: 2%;
    justify-content: center;
    border: 5%;
    border-color: aliceblue;
    height: auto;
    background-color: #1890F0;
}
#timerScreen{
    display: none;
    height: 100%;
    justify-content: flex-end;
    justify-self: center;
    width: 80%;
    color: aliceblue;
}
#clockdiv{
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
    width: 6rem;
    justify-self: center;
    margin: 0  2.4rem;
    height:6rem;
    border: 2px solid rgb(61, 61, 61);
    border-radius: 50%;
    background-color: white;
    color: black;
}
#pauseButton{
    pointer-events: none;
}
#timerButtons{
    padding-top: 0.5rem;
    justify-items: center;
    color: #1890F0;
}
#lapTime{
    margin:  10px 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    height: 5rem !important;
    padding: 1rem;
    justify-items: center;
    align-content: center;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
ul {
    border: 1px solid #1890F0;
    border-radius: 5px;
    list-style : none;
    color: #1890F0;
}
#back{
    visibility: hidden;
    height: 10%;
    width:100%;
    color: #1890F0;
    margin-top: -25px;
    padding-left: 10%;
    font-size: 1.5em;
    /* visibility: hidden; */
}